.modal {
    display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }

.btn-primary-narrow {
    padding: 0 6px;
}

.btn-primary-inner-light-blue {
    background-image: linear-gradient(to bottom, #88c3ca 0, #87a2a2 100%);
}

.btn-primary-inner-light-green {
    background-image: linear-gradient(to bottom, #5dca84 0, #89a21d 100%);
}

.span2 {
    width: 130px;
}

.span3 {
    width: 43px;
}

.span4 {
    width: 80px;
}