<div class="row panel" ng-controller="MissingHoursCtrl as mhours">
    <div class="row">
    	<div class="blur"></div>
        <div class="form-group">
        			<div class="hours" style="margin-bottom:10px">
    			<img class="clock" src= "assets/images/clock.png"/>
        		Total Missing hours: <b><span style="color:red">{{mhours.missinghours}}</span></b>
    		</div>
            <h3>Total Missing Hours</h3>
            <hr>
            <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Missing entries...">
             <hr>
        </div>


        <table id="user_list" class="table table-striped">
            <thead>
            <tr class="headings" style="font-weight: bold">
                <td style="width:15%">Username</td>
                <td style="width:15%">Date</td>
                <td style="width:60%">Project</td>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="ml in mhours.worklogs | itemsPerPage: 10 | filter:searchText">
                <td class="first-rounded">
                    <a href="/worklog#/worklogs/edit/{{ml.id}}">
                        {{ ml.userName || 'empty' }}
                    </a>
                </td>
                <td>
                    <span>
                        {{ mhours.formatDate(ml.dateLog) || 'empty' }}
                    </span>
                </td>
                <td class="last-rounded">
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-weight: bold">
                                <td style="width:25%">Client</td>
                                <td style="width:25%">Project</td>
                                <td style="width:20%">Component</td>
                                <td style="width:40%">Description</td>
                                <td style="width:30%">Hours</td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="worklog-entry" ng-repeat="pr in ml.projects">
                            <td class="first-rounded">
                                <span>
                                    {{ pr.client || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.name || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.component || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.region || 'empty' }}
                                </span>
                            </td>
                            <td >
                                <span>
                                    {{ pr.hours || 'empty' }}
                                </span>
                            </td>
                            <td class="last-rounded" style="white-space: nowrap">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <div class="pagination-div" ng-show="mhours.worklog.length">
                    <ul>
                        <li>
                            <button type="button" ng-disabled="mhours.curPage == 0"
                                    ng-click="mhours.curPage=mhours.curPage-1">PREV</button>
                        </li>
                        <li>
                            <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                        </li>
                        <li>
                            <button type="button"
                                    ng-disabled="mhours.curPage >= mhours.worklog.length/pageSize - 1"
                                    ng-click="mhours.curPage = mhours.curPage+1">NEXT </button>
                        </li>
                    </ul>
                </div>
            </tr>
            <tr ng-hide="mhours.worklogs.length">
                <td colspan="3">
                    <p class="text-center">No WorkLogs Found</p>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <dir-pagination-controls template-url='/assets/partial/dirPagination.tpl.html'>
            </dir-pagination-controls>
        </div>
    </div>

</div>