<div class="row" ng-controller="TotalWorkLogCtrl as totalwlog">
    <div class="row">
    <div class="blur"></div>
        <div class="form-group">
            <h3>
                Total WorkLogs
                <!--<a ng-href="/worklog#/worklogs/create" class="btn btn-primary pull-right" id="btn_user_create">Add work log</a>-->
            </h3>
            <hr>
        </div>
        <div class="form-group">
            <div style="float: left; width: 70%">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter WorkLogs...">
            </div>
            <label for="datePick" style="padding-left: 10px; padding-top: 5px;">Select Month</label>
            <div style="float: right; width: 20%; padding-top: 0px;">
                <input type="month" ng-model="searchDate" />
            </div>
            <hr>
        </div>


        <table id="user_list" class="table table-striped">
            <thead>
            <tr style="font-weight: bold">
                <td style="width:15%">Username</td>
                <td style="width:15%">Date</td>
                <td style="width:10%">Total Hours</td>
                <td style="width:60%">Project</td>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="wl in totalwlog.worklogs | itemsPerPage: 10">
                <td>
                    <span>
                        {{ wl.userName || 'empty' }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ totalwlog.formatDate(wl.dateLog) || 'empty' }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ wl.totalHours || 'empty' }}
                    </span>
                </td>
                <td>
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-weight: bold">
                                <td style="width:25%">Client</td>
                                <td style="width:25%">Project</td>
                                <td style="width:25%">Component</td>
                                <td style="width:15%">Region</td>
                                <td style="width:10%">Hours</td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pr in wl.projects" class="worklog-entry">
                            <td>
                                <span>
                                    {{ pr.client || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.name || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.component || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.region || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.hours || 'empty' }}
                                </span>
                            </td>
                            <td style="white-space: nowrap">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <a class="btn btn-primary" ng-click="totalwlog.download()">Export to csv</a>
            </tr>
            <tr ng-hide="totalwlog.worklogs.length">
                <td colspan="3">
                    <p class="text-center">No WorkLogs Found</p>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <dir-pagination-controls template-url='/assets/partial/dirPagination.tpl.html'>
            </dir-pagination-controls>
        </div>

        <!--<hr>
        <h4>Debug:</h4>
        <pre>{{ totalwlog.worklogs | json }}</pre>-->
    </div>
</div>