<div class="row">
	<div class="blur"></div>
    <div ng-controller="CreateWorkLogCtrl as cwlc">
        <div>
            <div style="float: left; width:33%;"><b>Create Worklog</b></div>

            <div style="float: left; width:33%; display: none;" ng-controller="ModalDemoCtrl">
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Select Recent Worklog</h3>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li ng-repeat="item in items">
                                <a ng-click="selected.item = item">{{ item }}</a>
                            </li>
                        </ul>
                        Selected: <b>{{ selected.item }}</b>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </script>

                <button class="btn btn-success" ng-click="open()">Recent Worklogs</button>
                <div ng-show="selected">Selection from a modal: {{ selected }}</div>
            </div>


            <div style="float: left; width:33%; display: none;" ng-controller="ModalDemoCtrl">
                <script type="text/ng-template" id="myModalContent2.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Select Frequent Worklog</h3>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li ng-repeat="item in items">
                                <a ng-click="selected.item = item">{{ item }}</a>
                            </li>
                        </ul>
                        Selected: <b>{{ selected.item }}</b>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </script>

                <button class="btn btn-success" ng-click="open()">Frequent Worklogs</button>
                <div ng-show="selected">Selection from a modal: {{ selected }}</div>
            </div>

        </div>


            <form id="CreateWorkLogForm" name="CreateWorkLogForm" class="form-horizontal" role="form"
              ng-submit="cwlc.createWorkLog()">
            <legend class="sm-col-12">Work Log Entry</legend>

            <div class="form-group">
                <label id="lbl_date" for="date" class="col-sm-4 control-label">date</label>

                <div class="col-sm-8">
                    <!--<input type="date" class="form-control" date-format="dd/MM/yyyy" date-type="string" name="date" date='dd/MM/yyyy' id="date" placeholder=""
                           ng-model="cwlc.worklog.dateLog" value="{{ cwlc.worklog.dateLog | date: dd/MM/yyyy}}">-->
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" id="pablo2" class="form-control" datepicker-popup="dd-MM-yyyy HH:mm:ss" ng-model="cwlc.worklog.dateLog"
                                   is-open="cwlc.$scope.opened" datepicker-options="{formatYear: 'yyyy'}" date-disabled="disabled(date, mode)"
                                   ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="cwlc.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group" style="display: none">
                <label id="lbl_totalHours" for="totalHours" class="col-sm-4 control-label">total hours</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="totalHours" id="totalHours" placeholder=""
                           ng-model="cwlc.worklog.totalHours">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_projects" for="projects" class="col-sm-4 width20 project-label">Projects</label>

                <div class="col-sm-8 width80">
                    <a class="btn pull-right add-project" ng-click="cwlc.addInputRow()">add project</a>
                    <p ng-repeat="project in cwlc.projects track by $index">
                        <!--<input name="client" type="text" class="span2" ng-model="cwlc.projects[$index].client"/>-->
                        client:<select ng-change="cwlc.fillNames(cwlc.projects[$index].client, $index)" required class="span2" name="client" ng-model="cwlc.projects[$index].client" ng-options="prclient.client for prclient in cwlc.prclients  track by prclient.client">
                        <option value=""></option>
                        </select>
                        <!--<input name="name" type="text" class="span2" ng-model="cwlc.projects[$index].name"/>-->
                        name:<select ng-change="cwlc.fillComponents(cwlc.projects[$index].name, $index)" required class="span2" name="name" ng-model="cwlc.projects[$index].name" ng-options="prname.name for prname in cwlc.prnames[$index] track by prname.name">
                        <option value=""></option>
                        </select>
                        <!--<input name="component" type="text" class="span2" ng-model="cwlc.projects[$index].component"/>-->
                        component:<select class="span2" name="component" ng-model="cwlc.projects[$index].component" ng-options="prcomp.component for prcomp in cwlc.prcomps[$index] track by prcomp.component">
                        <option value=" "></option>
                        </select>
                        description:<input name="region" type="text" class="span2" ng-model="cwlc.projects[$index].region"/>
                        hours:<input name="hours" type="number" min="0.01" max="23" step="0.01" ng-required="true" class="span3" ng-model="cwlc.projects[$index].hours"/>
                        <a class="class" ng-click="cwlc.deleteThis($index)">X</a>
                    </p>
                </div>
            </div>


            <!--<pre>{{ cwlc.worklogs | json }}</pre>-->

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8 text-right">
                    <a ng-href="/worklog#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                    <button type="submit" class="btn btn-success" id="btn_create">Create WorkLog</button>
                </div>
            </div>


        </form>
    </div>
</div>
