<div class="row">
    <div ng-controller="CreateWorkLogCtrl as cwlc" style="padding-top: 40px;">
        <h1>Edit Worklog</h1>

        <form id="CreateWorkLogForm" name="CreateWorkLogForm" class="form-horizontal" role="form"
              ng-submit="cwlc.editWorkLog()">
            <legend class="sm-col-12">Work Log Entry</legend>

            <div class="form-group">
                <label id="lbl_date" for="date" class="col-sm-4 control-label width20">date</label>

                <!--<div class="col-sm-8 width80">
                    <input type="date" class="form-control" name="date" id="date" date="dd/MM/yyyy" placeholder="dd/MM/yyyy"
                           ng-model="cwlc.worklogEdit.worklog.dateLog" value="{{ cwlc.worklogEdit.worklog.dateLog | date: dd/MM/yyyy}}" >
                </div>-->
                <div class="form-group">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" id="pablo1" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="cwlc.worklogEdit.worklog.dateLog"
                                   is-open="opened" datepicker-options="{formatYear: 'yyyy'}" date-disabled="disabled(date, mode)"
                                   ng-required="true" close-text="Close"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="cwlc.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group" style="display: none">
                <label id="lbl_totalHours" for="totalHours" class="col-sm-4 control-label width20">total hours</label>

                <div class="col-sm-8 width80">
                    <input type="text" class="form-control" name="totalHours" id="totalHours" placeholder=""
                           ng-model="cwlc.worklogEdit.worklog.totalHours">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_projects" for="projects" class="col-sm-4 control-label width20">Projects</label>

                <div class="col-sm-8 width80">
                    <a class="btn pull-right" ng-click="cwlc.addInputRowEdit()">add project</a>
                    <p ng-repeat="project in cwlc.worklogEdit.worklog.projects track by $index">
                        client:<input name="client" type="text" ng-required="true" class="span2" ng-model="project.client"/>
                        name:<input name="name" type="text" ng-required="true" class="span2" ng-model="project.name"/>
                        component:<input name="component" type="text" class="span2" ng-model="project.component"/>
                        description:<input name="region" type="text" class="span4" ng-model="project.region"/>
                        hours:<input name="hours" type="number" min="0.01" max="23" step="0.01" ng-required="true" class="span3" ng-model="project.hours"/>
                        <a class="class" ng-click="cwlc.deleteThisEdit($index)">X</a>
                    </p>
                </div>
            </div>


            <!--<pre>{{ cwlc.worklogs | json }}</pre>-->

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8 text-right">
                    <a ng-href="/worklog#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                    <button type="submit" class="btn btn-success" id="btn_create">Save WorkLog</button>
                </div>
            </div>


        </form>
    </div>
</div>
