@import java.text.SimpleDateFormat
@import java.util.Locale

<div class="row" ng-controller="WorkLogCtrl as wlog">
    &NonBreakingSpace;
    <div class="jumbotron">
        <h2>Time Sheet Logs</h2>

    </div>


    <div class="row">
        <div class="form-group">
            <h3>
                WorkLogs
                <a ng-href="/worklog#/worklogs/create" class="btn btn-primary pull-right" id="btn_user_create">Add work log</a>
            </h3>
            <hr>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter WorkLogs...">
            <hr>
        </div>


        <table id="user_list" class="table table-striped">
            <thead>
            <tr style="font-weight: bold">
                <td style="width:15%">Username</td>
                <td style="width:15%">Date</td>
                <td style="width:10%">Total Hours</td>
                <td style="width:60%">Project</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="wl in wlog.worklogs | filter:searchText">
                <td>
                    <span>
                        {{ wl.userName || 'empty' }}
                    </span>
                </td>
                <td>
                    <span>
                        {{wl.dateLog | date:'medium'}}
                    </span>
                </td>
                <td>
                    <span>
                        {{ wl.totalHours || 'empty' }}
                    </span>
                </td>
                <td>
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-weight: bold">
                                <td style="width:33%">Project</td>
                                <td style="width:33%">Region</td>
                                <td style="width:33%">Hours</td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pr in wl.projects">
                            <td>
                                <span>
                                    {{ pr.name || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.region || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.hours || 'empty' }}
                                </span>
                            </td>
                            <td style="white-space: nowrap">
                                <!-- form -->
                                <!--<form editable-form name="innerrowform" onbeforesave="wlog.saveProject(pr)" ng-show="innerrowform.$visible" class="form-buttons form-inline" shown="inserted == pr">
                                    <button type="submit" ng-disabled="innerrowform.$waiting" ng-click="wlog.checkName($data)" class="btn btn-primary btn-primary-narrow">
                                        save
                                    </button>
                                    <button type="button" ng-disabled="innerrowform.$waiting" ng-click="innerrowform.$cancel()" class="btn btn-default btn-primary-narrow">
                                        cancel
                                    </button>
                                </form>
                                <div class="buttons" ng-show="!innerrowform.$visible">
                                    <button class="btn btn-primary btn-primary-narrow btn-primary-inner-light-blue" ng-click="innerrowform.$show()">edit</button>
                                    <button class="btn btn-danger btn-primary-narrow" ng-click="pr.removeWorkLog(wl, $index)">del</button>
                                </div>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="wlog.saveWorklog($data, wl.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == wl">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-primary-narrow">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-primary-narrow">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <a ng-href="/worklog#/worklogs/edit/{{wl.id}}" class="btn btn-primary btn-primary-narrow">edit</a>
                        <button class="btn btn-danger btn-primary-narrow" ng-click="wlog.removeWorkLog(wl, $index)">del</button>
                    </div>
                </td>
            </tr>
            <tr ng-hide="wlog.worklogs.length">
                <td colspan="3">
                    <p class="text-center">No WorkLogs Found</p>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h4>Debug:</h4>
        <pre>{{ wlog.worklogs | json }}</pre>
    </div>

</div>