<div class="row" ng-controller="WorkLogCtrl as wlog">
    <div style="font-weight: bolder;font-size: 20px;">
        <a style="text-decoration: none; color:#c74640;" href="/missinghours">Total Missing hours: <b>{{wlog.missinghours}}</b></a>
    </div>
    <div class="row">
    	<div class="blur"></div>
        <div class="form-group">
            <h3>
                WorkLogs
                <a ng-href="/worklog#/worklogs/create" class="btn btn-primary pull-right" id="btn_user_create">Add work log</a>
                <a ng-href="/worklog#/worklogs/batch" class="btn btn-primary pull-right stripped" id="btn_user_batch_create">Batch add work log</a>
            </h3>
            <hr>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter WorkLogs...">
            <hr>
        </div>


        <table id="user_list" class="table table-striped">
            <thead>
            <tr style="font-weight: bold" class="headings">
                <td style="width:15%">Username</td>
                <td style="width:15%">Date</td>
                <!--<td style="width:10%">Total Hours</td>-->
                <td style="width:60%">Project</td>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="wl in wlog.worklogs | itemsPerPage: 10 | filter:searchText">
                <td style="padding-top:16px;">
                    <span>
                        {{ wl.userName || 'empty' }}
                    </span>
                </td>
                <td style="padding-top:16px;">
                    <span>
                        {{ wlog.formatDate(wl.dateLog) || 'empty' }}
                    </span>
                </td>
                <!--<td>
                    <span>
                        {{ wl.totalHours || 'empty' }}
                    </span>
                </td>-->
                <td>
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-weight: bold">
                                <td style="width:25%">Client</td>
                                <td style="width:25%">Project</td>
                                <td style="width:20%">Component</td>
                                <td style="width:40%">Description</td>
                                <td style="width:30%">Hours</td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pr in wl.projects" class="worklog-entry">
                            <td>
                                <span>
                                    {{ pr.client || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.name || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.component || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.region || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ pr.hours || 'empty' }}
                                </span>
                            </td>
                            <td style="white-space: nowrap">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="wlog.saveWorklog($data, wl.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == wl">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-primary-narrow">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-primary-narrow">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <a ng-href="/worklog#/worklogs/edit/{{wl.id}}" class="btn btn-primary btn-primary-narrow">edit</a>
                        <button class="btn btn-danger btn-primary-narrow" ng-click="wlog.removeWorkLog(wl, $index)">del</button>
                    </div>
                </td>
            </tr>
            <tr>
                <div class="pagination-div" ng-show="wlog.worklog.length">
                    <ul>
                        <li>
                            <button type="button" ng-disabled="wlog.curPage == 0"
                                    ng-click="wlog.curPage=wlog.curPage-1">PREV</button>
                        </li>
                        <li>
                            <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                        </li>
                        <li>
                            <button type="button"
                                    ng-disabled="wlog.curPage >= wlog.worklog.length/pageSize - 1"
                                    ng-click="wlog.curPage = wlog.curPage+1">NEXT </button>
                        </li>
                    </ul>
                </div>
            </tr>
            <tr ng-hide="wlog.worklogs.length">
                <td colspan="3">
                    <p class="text-center">No WorkLogs Found</p>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <dir-pagination-controls template-url='/assets/partial/dirPagination.tpl.html'>
            </dir-pagination-controls>
        </div>
        <!--<hr>
        <h4>Debug:</h4>
        <pre>{{ wlog.worklogs | json }}</pre>-->
    </div>

</div>